<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head.ejs');%>
    <title>PSUTI GANG</title>
</head>
<body>
    <%- include('blocks/header.ejs');%>
    
    <div class="container">
        <div class="panel">
            <div class="panel__buttons">
                <button id='btn-create-theme' class="panel__btn">Создать тему</button>
            </div>
            <nav class="panel__links">
                <a href="" class="panel__link">Все обсуждения</a>
                <a href="" class="panel__link">Мои темы</a>
            </nav>
            <span class="panel__chapter">
                Помощь в предметах
            </span>
            <nav class="panel__links">
                <a href="" class="panel__link">Математика</a>
                <a href="" class="panel__link">История</a>
                <a href="" class="panel__link">Физика</a>
                <a href="" class="panel__link">Информатика</a>
                <a href="" class="panel__link">Русский язык</a>
                <a href="" class="panel__link">Менеджмент</a>
                <a href="" class="panel__link">Английский</a>
            </nav>
            <span class="panel__chapter">
                Готовые работы
            </span>
            <nav class="panel__links">
                <a href="" class="panel__link">Лекции</a>
                <a href="" class="panel__link">Практики</a>
                <a href="" class="panel__link">Лабораторные</a>
                <a href="" class="panel__link">Курсовые</a>
            </nav>
            <span class="panel__chapter">
                Оффтоп
            </span>
            <nav class="panel__links">
                <a href="" class="panel__link">Жизнь в ПГУТИ</a>
                <a href="" class="panel__link">Жизнь в общежитиях</a>
                <a href="" class="panel__link">Мероприятия</a>
                <a href="" class="panel__link">Другое</a>
            </nav>
        </div>
        <div class="content">
            <% for(var i=0; i<rows.length; i++) {%>
            <a href="/theme/<%- rows[i].id; %>" class="content__post">
                <div class="post__info">
                    <span class="post__name"> <%- rows[i].title; %> </span>
                    <span class="post__author"> <%- rows[i].author; %> </span>
                </div>

                <div class="post__stats">
                    <span class="post__comments">36</span>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</body>

<%- include('blocks/scripts.ejs');%>

<script>
    document.getElementById('btn-create-theme').onclick = () => {
        if (typeof Cookies.get('token') != undefined & Cookies.get('token') != '') {
            window.location.href = "/create-theme";
        } else {
            window.location.href = "/auth";
        }
    }
</script>

</html>