<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head.ejs');%>
    <title><%= result.username;%></title>
</head>
<body>

    <%- include('blocks/header.ejs');%>

    <div class="container container-theme">
        <div class="profile">

            <div class="profile__avatar">
                <img class="profile__avatar__img" src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1805/tuktukdesign180500063/100913890-user-icon-vector-male-person-symbol-profile-circle-avatar-sign-in-flat-color-glyph-pictogram-illustr.jpg?ver=6" alt="">
            </div>

            <div class="user">
                <div class="user__name">
                    <span class="user__name__span"><%= result.username;%></span>
                </div>

                <div class="user__description">
                    <span class="user_description__span"><%= result.description;%></span>
                </div>
            </div>

        </div>

        <div class="comments">
          <div class="comment">
            <img src="https://sun1-88.userapi.com/s/v1/ig2/BYMi3PnAL6ny3IFyd-Ply8mW8cJkD-Hy9wlNSjnol2kIgcjtyWPVY-HWWF1aSxE5iZEzKXQz8CHAhvkH5gDWWzvY.jpg?size=200x0&quality=96&crop=0,0,996,996&ava=1" class="author__avatar"></img>
            <div class="comment__author">
            <div class="comment__author__name">хуй</div>
            <div class="comment__text">хуйня</div>
            </div>
          </div>
        </div>

        <div class="create__comment">
          <div class="create__comment__block">
            <input type="text" placeholder="Текст комментария" class="create__comment__input" id="comment-text">
            <button class="panel__btn">Оставить комментарий</button>
          </div>
        </div>
    </div>
</body>

<%- include('blocks/scripts.ejs');%>

</html>